.container {
    width: 960px;
    margin: 0 auto;
}

.navi {
    width: 960px;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.navi ul {
    list-style: none;
    padding: top 10px;
    padding-bottom: 5px;
}

.navi ul li {
    float: left;
    width: 150px;
    padding: 10px;
}

.navi a:link,
.navi a:visited {
    display: block;
    font-size: 14px;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.navi a:hover,
.navi a:focus {
    background-color: #222;
    color: white;
}

.navi a:active {
    background-color: lightblue;
}

#signup {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 30px auto;
}

#signup fieldset {
    border: 1px solid black;
    margin-bottom: 30px;
}

#signup legend {
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 10px;
}

#signup ul li {
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}

#signup fieldset:first-of-type label {
    float: left;
    font-size: 13px;
    width: 60px;
}

#signup input[type=text],
input[type=tel] {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 3px;
    padding: 5px;
    width: 200px;
}

#signup input:not([type=radio]) {
    border: 1px solid rgb(98, 98, 98);
    border-radius: 3px;
    padding: 5px;
    width: 200px;
}

#signup input:not([type=radio]):hover {
    border-color: red;
}

#signup input:checked+label {
    color: red;
    font-weight: bold;
}

#signup button {
    border: 1px solid black;
    border-radius: 20px;
    display: block;
    font: 16px;
    letter-spacing: 1px;
    margin: auto;
    padding: 7px 25px;
}

#signup b {
    float: left;
    font-size: 13px;
    width: 110px;
}