#header {
    text-align: center;
}

@media screen and (min-width: 1024px) {

    #contents {
        text-align: center;
        margin: 30px auto;
        width: 1200px;
        height: 350px;
        border: 1px solid black;
        display: flex;
    }

    #orbital {
        margin-top: 30px;
    }

}

@media screen and (min-width: 320px) and (max-width: 1023px) {

    #contents {
        text-align: center;
        margin: 30px auto;
        width: 700px;
        height: 500px;
        border: 1px solid black;
    }

    #orbital {
        margin-top: 30px;
    }

}